<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" id="home-link">Home</a></li>
            <li><a href="/login" id="login-link">Login</a></li>
            <li><a href="/register" id="register-link">Register</a></li>
        </ul>
    </nav>

    <div id="app"></div> <!-- This is the dynamic container -->

    <script src="../static/js/app.js"></script>
</body>
</html>